@use "../../../styles/mixins" as *;.about {
  $sliderHeight: 530px;

  position: relative;

  .container {
    position: absolute;
    height: $sliderHeight;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 60%;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    z-index: 1;

    .btn::after {
      mask-image: var(--icon-accounts);
      background-color: $yellow;
    }

    h2 {
      font-size: 56px;
      line-height: 60px;
      color: $black;
    }

    p {
      font-size: 46px;
      line-height: 46px;
      color: $gray;
    }
  }

  &__image {
    height: $sliderHeight;
    display: flex;
    justify-content: flex-end;
    position: relative;

    img {
      height: 100%;
      margin: 0 auto;
      max-width: fit-content;
    }
  }
}

.slider-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: 0.3s ease-in-out;
  z-index: 2;

  &::before {
    content: "";
    height: 24px;
    width: 24px;
    mask-image: var(--icon-next);
    @include mask-contain;
    background-color: $blue-dark;
    flex-shrink: 0;
  }

  &--prev {
    right: unset;
    left: 0;
    &::before {
      transform: scaleX(-1);
    }
  }

  &:focus {
    outline-color: $blue;
    outline-offset: 3px;
  }

  @include hover {
    color: $blue;
  }
}

.slider {
  overflow: hidden;
}

.swiper-wrapper {
  box-sizing: border-box !important;
}

.swiper-slide {
  box-sizing: border-box !important;
  background-color: $white;
  position: relative;

  &--first {
    background-color: rgb(234, 195, 206);
  }

  &--second {
    background-color: powderblue;
  }
}

@include rmax($lg) {
  .about {
    &__image {
      right: -20%;
    }
  }
}

@include rmax($md) {
  .about {
    $sliderHeight: 440px;

    .container {
      position: absolute;
      height: $sliderHeight;
      left: 50%;
      transform: translateX(-50%);
    }

    &__image {
      height: $sliderHeight;
      position: relative;
      right: -30%;
    }

    &__caption {
      h2 {
        font-size: 44px;
        line-height: 49px;
      }

      p {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}

@include rmax($sm) {
  .about {
    &__caption {
      h2 {
        font-size: 30px;
        line-height: 35px;
      }

      p {
        font-size: 20px;
        line-height: 20px;
      }
    }

    &__image {
      right: -40%;
    }
  }
}
