$white: #ffffff;
$yellow: #feea3a;
$yellow-light: #fef8c3;
$yellow-dark: #fece3a;
$blue: #02a8f3;
$blue-dark: #4389fe;
$blue-powder: powderblue;
$black: #202020;
$gray: #717171;
$gray-light: #f7f7f7;
$pink-light: rgb(234, 195, 206);
$red: #ff285b;
$logo: #1bbc9b;
$steps-arrow: #e6e6e6;
$input-border: #b8b8b8;
$modal: #2b2f3e;
